@import '../variables.scss';

.sidebar {
  display: flex;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
  max-width: 20%;
  min-width: 300px;
}

.sidebar__well {
  padding: 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #1C1E22;
  margin: 20px 0;

  h3 {
    margin-top: 0px;
  }
}

.sidebar__tagBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sidebar__about {
  p {
    font-size: smaller;
    text-align: justify;
  }

  img {
    float: right;
    margin: 0 0 0 15px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
  }
}

@media (max-width: 1622px) {
  .sidebar {
    flex-direction: row-reverse;
    max-width: 100%;
    min-width: 100px;
  }

  .sidebar__well {
    margin: 10px;
  }
}

@media (max-width: $screen-md-min) {
  .sidebar {
    flex-direction: column;
    max-width: 100%;
    min-width: 100px;
  }
}

