# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
node_modules
npm-debug.log
.tern-project
flickr-data
.DS_Store
npm-debug.log.*
cache/flickr-responsive
cache/images-responsive
flickr_manifest.json
image_manifest.json
webpackStats.json
