@import '../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  height: 100%;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.root {
  width: 100vw;
  height: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.layout {
  margin: 0 auto 0 auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: auto 27px auto 27px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
    box-shadow: 2px 2px 2px 0px #111;
    background-color: white;
  }
}

.excerpt {
  padding: 0 50px 0 20px;
  font-style: italic;
}

.quote {
  padding: 0 50px 0 20px;
  font-style: italic;
}

.quote-attribution {
  margin-right: 100px;
  text-align: right;
  &:before {
    content: "— ";
  }
}

.layout {
  width: calc($screen-lg-min - 30px);

  img {
    max-width: calc($screen-lg-min - 80px);
  }
}

@media (max-width: $screen-md-min) {
  .layout {
    width: calc($screen-md-min - 22px);

    img {
      max-width: calc($screen-md-min - 80px);
    }
  }
}

@media (max-width: $screen-sm-min) {
  .layout {
    width: 100vw;

    img {
      max-width: calc(100vw - 40px);
    }
  }
}
