@import '../variables.scss';

.tagCloud__tags {
  padding: 20px;
}

.tagCloud__title {
  font-size: medium;
  margin-right: 5px;
  display: flex;
  align-items: center;
  float: left;
  svg {
    margin-right: 4px;
    margin-bottom: -3px;
  }
}


.tagCloud__tag {
  display: inline-block;
  font-size: small;
  padding: 2px 6px;
  margin: 3px;
  margin-bottom: 6px;
  background: grey;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #5d5d5d;

  &:hover {
    background: black;
  }
}
