@import '../variables.scss';

.tagCloud__tags {
  padding: 20px;
}

.tagCloud__tag {
  display: inline-block;
  font-size: small;
  padding: 0px 3px;
  margin: 2px;
  background: grey;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #5d5d5d;

  &:hover {
    background: black;
  }
}
