@import '../variables.scss';

.navbar {
  background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
  height: 50px;
  color: #c8c8c8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar__link {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #c8c8c8;
  text-decoration: none;
  height: 100%;
  white-space: nowrap;

  &:hover {
    color: white;
    .navbar__icon {
      path {
        fill: white;
      }
    }
  }
}

.navbar__link--hideable {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #c8c8c8;
  text-decoration: none;
  height: 100%;
  white-space: nowrap;
  border-left: #717171 1px solid;

  &:hover {
    color: white;
    .navbar__icon {
      path {
        fill: white;
      }
    }
  }
}

.navbar__icon {
  filter: drop-shadow( 1px 1px 1px rgba(0,0,0,0.3));
  margin-right: 5px;
  path {
    fill: #c8c8c8;
  }
}

@media (max-width: $screen-md-min) {
  .navbar__link--hideable {
    display: none;
  }

  .navbar__link {
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 10px;
  }
}
