@import '../variables.scss';

.blogPost__content {
  padding-bottom: 30px;
}

.blogPost p {
  text-align: justify;
}

.blogPost__title {
  text-transform: capitalize;
}

.blogPost__tags {
  padding: 20px 10px;
}
